<ion-view title="Local Scout">
  <ion-content class="padding">
    <h2 class="intro">Welcome to Local Scout</h2>

<!--Landing page image grid-->
      <div class="border">
          <div class="row">
              <div class="col col-50">
                  <div class="item item-image">
                      <img src="img/home/900/1.jpg"></div>
              </div>
              <div class="col col-50">
                  <div class="item item-image">
                      <img src="img/home/900/2.jpg"></div>
              </div>
          </div>
      </div>

      <h4 class="title">Your Personal Location Scout</h4>

      <div class="border">
          <div class="row">
              <div class="col col-25">
                  <div class="item item-image">
                      <img src="img/home/900/3.jpg"></div>
              </div>
              <div class="col col-25">
                  <div class="item item-image">
                      <img src="img/home/900/4.jpg"></div>
              </div>
              <div class="col col-25">
                  <div class="item item-image">
                      <img src="img/home/900/5.jpg"></div>
              </div>
              <div class="col col-25">
                  <div class="item item-image">
                      <img src="img/home/900/6.jpg"></div>
              </div>
          </div>
      </div>

      <h4 class="title">For Film, Photography, &amp; More!</h4>

      <div class="border">
          <div class="row">
              <div class="col col-50">
                  <div class="item item-image">
                      <img src="img/home/900/7.jpg"></div>
              </div>
              <div class="col col-50">
                  <div class="item item-image">
                      <img src="img/home/900/8.jpg"></div>
              </div>
          </div>
      </div>




  </ion-content>
</ion-view>
