<ion-view title="Find A Location">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="query" placeholder="name, city, state, or tag">
            </label>

            <div class="row">

                <select class="button button-stable col col-100" ng-model="orderProp">
                    <option value="-dateAdded">Newest Listing</option>
                    <option value="dateAdded">Oldest Listing</option>

                </select>
            </div>
        </div>

        <div class="list">

            <a ng-repeat="location in locations | filter:query | orderBy:orderProp"
               href="#/tab/location/{{location.id}}" class="item item-icon-right item-thumbnail-right row">
                <i class="icon ion-ios7-arrow-right"></i>
                <img class="col col-25" ng-src="{{location.imageURL}}">

                <h2 class="col col-75">{{location.name}}<br> City: {{location.city}} <br> State: {{location.state}}</h2>
            </a>

        </div>
    </ion-content>
</ion-view>
